.forgot-password {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    span {
        font-size: 1.4rem;
        font-weight: 300;
        margin-right: 5px;
        color: #828282;
        margin-bottom: 8px;
    }

    .pass-info {
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 300;
        color: var(--white);
    }

    a:hover {
        color: var(--button-color-hover);
    }
}
