@use '../../components/GlobalStyles/GlobalStyles.scss' as s;

.wrapper {
    width: 100%;
    margin-top: 120px;
    min-height: 400px;

    .wrap-notifycation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .notifycation-loading-data {
        display: inline-block;
        padding: 5px 15px;
        color: gold;
        border-radius: 7px;
        background-color: var(--primary);
        cursor: pointer;

        &:hover {
            transform: scale(0.98);
        }
    }

    @include s.laptop {
    }

    @include s.tablet {
        margin-top: 7vh;

        .wrap-notifycation {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
        }

        .notifycation-loading-data {
            display: inline-block;
            padding: 5px 15px;
            color: gold;
            border-radius: 7px;
            background-color: var(--primary);
            cursor: pointer;

            &:hover {
                transform: scale(0.98);
            }
        }
    }

    @include s.mobile {
        margin-top: 7vh;

        .wrap-notifycation {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
        }

        .notifycation-loading-data {
            display: inline-block;
            padding: 5px 15px;
            color: gold;
            border-radius: 7px;
            background-color: var(--primary);
            cursor: pointer;

            &:hover {
                transform: scale(0.98);
            }
        }
    }
}

.wrapper-blog_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .blog-title {
        color: var(--backgroundColor7);
    }

    .blog-slogan {
        color: var(--primary);
    }

    @include s.laptop {
    }

    @include s.tablet {
    }

    @include s.mobile {
    }
}

.wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .wrapper-post_info {
        width: 79%;
        min-height: 50px;
        border: 1px solid rgb(255, 0, 123);
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgb(255, 0, 123);
    }

    .wrapper-teddy_info {
        width: 20%;
        min-height: 50px;
        border: 1px solid rgb(255, 0, 123);
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgb(255, 0, 123);
    }

    @include s.laptop {
    }

    @include s.tablet {
        .wrapper-post_info {
            width: 74%;
        }

        .wrapper-teddy_info {
            width: 25%;
        }
    }

    @include s.mobile {
        .wrapper-post_info {
            width: 100%;
        }

        .wrapper-teddy_info {
            display: none;
        }
    }
}

.wrapper-post_info {
    .wrapper-post_info-title {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 20px;

        margin-bottom: 20px;
        border-bottom: 1px solid rgb(255, 0, 123);

        .post_info-title {
            font-size: 2rem;
            line-height: 3.5rem;
            font-weight: 500;
            color: var(--primary);
            margin: unset;
        }
    }

    .post-info_base {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        margin-bottom: 50px;
        .post-info_base-img {
            width: 39%;
            // border: 1px solid red;

            .base-img_detail {
                width: 100%;
                object-fit: cover;
                border-radius: 20px;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .post-info_base-content {
            width: 59%;
            // border: 1px solid red;

            .post-info_base-content-title {
                font-size: 2.2rem;
                margin-bottom: 30px;
                color: var(--backgroundColor7);

                &:hover {
                    opacity: 0.8;
                }
            }

            .post-info_base-content-detail {
                font-size: 1.6rem;
                margin-bottom: 50px;
                display: block;
                display: -webkit-box;
                line-height: 2rem;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .content-detail_btn {
                font-size: 1.6rem;
                color: var(--white);
            }

            .content-detail_btn-title {
                padding: 10px 30px;
                background-color: var(--primary);
                border-radius: 20px;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    @include s.laptop {
    }

    @include s.tablet {
        .wrapper-post_info-title {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;

            margin-bottom: 20px;
            border-bottom: 1px solid rgb(255, 0, 123);

            .post_info-title {
                font-size: 1.8rem;
                line-height: 3.5rem;
                font-weight: 500;
                color: var(--primary);
                margin: unset;
            }
        }

        .post-info_base {
            display: flex;
            justify-content: space-between;

            align-items: center;
            padding: 0 5px;
            margin-bottom: 20px;
            .post-info_base-img {
                width: 49%;

                overflow: hidden;
                border-radius: 20px;
                // border: 1px solid red;

                .base-img_detail {
                    width: 100%;
                    height: 28vw;
                    object-fit: cover;
                    // border-radius: 20px;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .post-info_base-content {
                width: 49%;

                // border: 1px solid red;

                .post-info_base-content-title {
                    font-size: 1.6rem;
                    margin-bottom: 15px;
                    color: var(--backgroundColor7);
                    display: block;
                    display: -webkit-box;
                    line-height: 2rem;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .post-info_base-content-detail {
                    font-size: 1.6rem;
                    margin-bottom: 30px;
                    display: block;
                    display: -webkit-box;
                    line-height: 2rem;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .content-detail_btn {
                    font-size: 1.6rem;
                    color: var(--white);
                }

                .content-detail_btn-title {
                    padding: 5px 10px;
                    background-color: var(--primary);
                    border-radius: 20px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    @include s.mobile {
        .wrapper-post_info-title {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;

            margin-bottom: 20px;
            border-bottom: 1px solid rgb(255, 0, 123);

            .post_info-title {
                font-size: 2rem;
                line-height: 3.5rem;
                font-weight: 500;
                color: var(--primary);
                margin: unset;
            }
        }

        .post-info_base {
            display: flex;
            justify-content: space-between;

            align-items: center;
            padding: 0 5px;
            margin-bottom: 20px;
            .post-info_base-img {
                width: 49%;
                height: 28vw;
                overflow: hidden;
                border-radius: 20px;
                // border: 1px solid red;

                .base-img_detail {
                    width: 100%;
                    object-fit: cover;
                    // border-radius: 20px;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .post-info_base-content {
                width: 49%;
                // border: 1px solid red;

                .post-info_base-content-title {
                    font-size: 1.2rem;
                    margin-bottom: 6px;
                    color: var(--backgroundColor7);
                    display: block;
                    display: -webkit-box;
                    line-height: 1.6rem;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .post-info_base-content-detail {
                    font-size: 1.2rem;
                    margin-bottom: 20px;
                    display: block;
                    display: -webkit-box;
                    line-height: 1.2rem;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .content-detail_btn {
                    font-size: 1.2rem;
                    color: var(--white);
                }

                .content-detail_btn-title {
                    padding: 5px 10px;
                    background-color: var(--primary);
                    border-radius: 20px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

.wrapper-teddy_info {
    .wrapper-teddy_info-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 10px;
        border-bottom: 1px solid rgb(255, 0, 123);

        .teddy_info-title {
            font-size: 1.6rem;
            line-height: 3.5rem;
            font-weight: 500;
            color: var(--primary);
            margin: unset;
        }
    }

    .wrapper-teddy_detail {
        width: 100%;
        padding: 5px;
        position: relative;
        .wrapper-teddy_detail-img {
            width: 100%;
            cursor: pointer;

            .teddy_detail-img {
                width: 100%;
                object-fit: cover;
                border-radius: 5px;

                &:hover {
                    opacity: 0.9;
                }
            }
        }

        .teddy_detail-name {
            position: absolute;
            color: gold;
            font-size: 2rem;
            top: 65%;
            left: 10%;
            cursor: pointer;
        }

        .teddy_detail-sold {
            position: absolute;
            color: var(--white);
            font-size: 1.4rem;
            top: 85%;
            right: 10%;
        }
    }

    @include s.laptop {
    }

    @include s.tablet {
    }

    @include s.mobile {
        margin-top: 7vh;
    }
}
