@use '../../../components/GlobalStyles/GlobalStyles.scss' as s;

.wrapper-sale {
    width: 100%;
}

.wrapper {
    width: 100%;
    height: calc((var(--default-layout-width) * 0.39) * 0.46);
    position: relative;
    // padding: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    @include s.laptop {
    }

    @include s.tablet {
    }

    @include s.mobile {
    }
}

.wrapper-info {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.wrapper-info_slogan {
    position: absolute;
    top: 5%;
    left: 2%;
    padding: 3px 20px;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--white);
    background-color: red;
    border-radius: 15px;

    .wrapper-info_slogan-sale {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .slogan-sale_retangle {
        width: 2.5vw;
        margin-right: 5px;

        border: 1px solid rgba(255, 196, 63, 0.6);
        // border: 1px solid rgba(0, 0, 0, 0.4);
    }
}

.wrapper-info_name {
    position: absolute;
    top: 50%;
    left: 10%;

    font-size: 1.8rem;
    font-weight: 500;
    color: var(--white);
}

.wrapper-info_btn {
    cursor: pointer;
    position: absolute;
    padding: 5px 12px;
    border-radius: 8px;
    background-color: var(--backgroundColor7);

    top: 80%;
    right: 5%;
    font-weight: 300;
    color: var(--text-color);
    border: none;

    &:hover {
        // opacity: 0.8;
        transform: scale(0.97);
        background-color: var(--primary);
    }
    img {
        margin-left: 10px;
    }
}

.wrapper-img {
    width: 100%;
    cursor: pointer;

    img {
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
    }
}
